:root {

/* Primary */

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* Neutral */

--Very-dark-blue-main-BG: hsl(217, 54%, 11%);
--Very-dark-blue-card-BG: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body a {
    text-decoration: none;
}

.card {
    box-shadow: 0px 0px 50px 30px rgba(0,0,0, 0.250);
}


/* Card header */

.card {
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 15px;
    width: 350px;
    height: 600px;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header img {
    background-color: var(--Cyan);
    border-radius: 10px;
    max-width: 86%;
    max-height: 100%;
    margin: 25px 0 25px 0;
}

.fondo-img, .fondo-img a {
    background-color: transparent;
    border-radius: 10px;
    position:absolute;
    width: 300px;
    height: 300px;
}

.fondo-img:hover {
    background-image: url(/images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 255, 247, 0.400);
}


/* Card body */

.text {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.text h3 {
    color: var(--White);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text h3:hover {
    color: var(--Cyan);
}

.text p {
    color: var(--Soft-blue);
    font-weight: 400;
    font-size: 18px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px 20px 25px;

}

.ethereum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Cyan);
    font-weight: 600;
    font-size: 16px;
    width: 95px;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Soft-blue);
    font-weight: 600;
    font-size: 16px;
    width: 95px;
}

.card-body hr {
    border-color: var(--Very-dark-blue-line);
    margin: 0 20px 15px 20px;
}


/* Card footer */

.card-footer {
    display: flex;
    align-items: center;
    color: var(--Soft-blue);
    margin-left: 20px;
}

.card-footer img {
    border: 1px solid var(--White);
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.card-footer span {
    color: var(--White);
}

.card-footer span:hover {
    color: var(--Cyan);
}